

.title {
	font-size: 30px;
	text-align: center;
	margin: 5px;
}


.largeButton button{
    font-size: 14pt;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/* ボタン色 */
    color: #FFF;
    border: none;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    width: 300px;
    height: 50px;
    margin: 5px 5px 5px 5px;
}


.smallButton button{
    font-size: 14pt;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/* ボタン色 */
    color: #FFF;
    border: none;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    margin: 5px 20px 5px 20px;	/* 上 右 下 左 */
}

p {
	text-align: center;
	font-size: 12pt;
    margin: 5px 5px 5px 5px;	/* 上 右 下 左 */
}

h2 {
	text-align: center;
}

.controlArea {
	border: 3px solid #1f81e9;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

/* タイトルつきの枠 */
.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.box26 p {
    margin: 0;
    padding: 0;
}



/*
.smartHomeButton button{
    font-size: 14pt;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border: none;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    width: 300px;
    height: 50px;
    margin: 5px 5px 5px 5px;
}
*/

