

.title {
	font-size: 30px;
	text-align: center;
	margin: 5px;
    color: #668ad8;
    font-weight: bold;

}

body{
	background: repeating-linear-gradient(to top, lightgray, lightgray 100px, white 100px, white 200px);
}

.largeButton button{
    font-size: 14pt;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/* ボタン色 */
    color: #FFF;
    border: none;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    width: 300px;
    height: 50px;
    margin: 5px 5px 5px 5px;
}


.smallButton button{
    font-size: 14pt;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/* ボタン色 */
    color: #FFF;
    border: none;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    width: 110px;
    height: 40px;
    margin: 5px 20px 5px 20px;	/* 上 右 下 左 */
}

p {
	text-align: center;
	font-size: 12pt;
    font-weight: bold;
    margin: 5px 5px 5px 5px;	/* 上 右 下 左 */
}

h2 {
	text-align: center;
}


/* タイトルつきの枠 */
.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 25px;
    background: #FFF;
    color: #668ad8;
    font-weight: bold;
}
.box26 p {
    margin: 0;
    padding: 0;
}

/* 内側横並び用コンテナ */
.subContainer {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
/* 	background-color: #ccc; */
    width: 120px;
    margin: 5px 5px 5px 5px;	/*上 右 下 左*/
}

/*
.smartHomeButton button{
    font-size: 14pt;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border: none;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    width: 300px;
    height: 50px;
    margin: 5px 5px 5px 5px;
}
*/

